.headerText {
  font-size: 24px;
  font-weight: bold;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.btnLogout {
  background-color: #1976d2;
  color: white;
  border: none;
  padding: 5px 15px;
  font-size: 18px;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s ease-in-out;
  height: auto;
  margin-left: 20px;

}

.btnLogout:hover {
  background-color: #1565c0;
}